.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 182px;
}

.container textarea {
  width: 65%;
  margin: 0 auto;
  resize: none;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.buttons_wrapper button {
  margin-left: 1rem;
  cursor: pointer;
}
