.container {
  padding: 0 2rem;
  height: 100%;
}

.main {
  height: 100%;
  overflow: hidden;
}

.main h1 {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  height: 60px;
}

.notes_wrapper {
  height: calc(100% - 60px);
}
